{% extends 'blog/base.html' %}
{% load static %}



<!-- HEADER -->
{% block header %}
<header class="header">
    <div class="buscandog">
        <p>B U S C A N D O G</p>
    </div>
    <div class="first_links center">
        <ul>
            <li><a href="{% url 'blog-home' %}">Home</a></li>
            <li><a href="">About</a></li>
        </ul>
    </div>
    <div class="second_links center">
        <ul>
            {% if user.is_authenticated %}
            <li><a href="{% url 'blog-create-post' %}">New Post</a></li>
            <li><a href="{% url 'profile' %}">Profile</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
            <li><a class="btn btn-outline-info" href="{% url 'register' %}">Register</a></li>
            <li><a class="btn btn-info" href="{% url 'login' %}">Login</a></li>
            {% endif %}
        </ul>
    </div>
</header>
{% endblock %}

{% block content %}
<main>
    <!-- BODY -->
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    {% block article %}
    {% endblock %}
</main>
{% endblock %}

{% block footer %}
<!-- FOOTER -->
<footer class="footer">
    <div class="first_links_footer">
        <ul>
        </ul>
    </div>
    <div class="second_links_footer">
        <ul>
            <li><a href=""><img src="../../static/images/icon-twitter.png" alt=""></a></li>
            <li><a href=""><img src="../../static/images/icon-instagram.png" alt=""></a></li>
            <li><a href=""><img src="../../static/images/icon-linkedin.png" alt=""></a></li>
        </ul>
    </div>
    <div class="third_links_footer">
        <ul>
            <li></li>
        </ul>
    </div>
</footer>
{% endblock %}