{% extends 'blog/layout.html' %}


{% block main %}         
    <div class="about">
        <img src="../../static/images/back.jpeg" alt="">
        <h2>NOSOTROS</h2>
        <p>
            <b>Buscandog</b> es una plataforma virtual que ayuda a familias a reencontrarse con sus mascotas desaparecidas. En esta plataforma gratuita, cada usuario podrá publicar imagenes de su mascota para que toda la red pueda ayudar a localizarlo.
        </p>
        <p>
            <b>Buscandog</b> nace ante la necesidad de centralizar los casos de extravíos de mascotas en una única plataforma. La idea surge através de una noticia publicada en el diario <b><a href="https://www.lavoz.com.ar/">La Voz</a></b>, donde un concejal de la ciudad de Córdoba, presentó un proyecto para facilitar el encuentro de animales extraviados a través de un portal web.                
        </p>                
        <p>
            Pensando en esta necesidad, tomamos la iniciativa y creamos <b>Buscandog.</b>
        </p>
        <p>
            <b>Lectura:</b><i> 'Cómo es la plataforma virtual gratuita de mascotas perdidas que proponen crear en Córdoba'</i>            
        </p>
        <p class="noticia">
            <a href="https://www.lavoz.com.ar/ciudadanos/cordoba-proponen-la-creacion-de-una-plataforma-virtual-gratuita-de-mascotas-perdidas/"><img src="../../static/images/Screenshot from 2022-06-24 18-47-36.png" alt=""></a>
        </p>        
        <h4>No es por nosotros, <b><i>¡es por ellos!</i></b></h4>
    </div>
{% endblock %}