{% extends 'blog/base.html' %}
{% load static %}



<!-- HEADER -->

{% block header %}
<div class="grid-container">
    <header>                
        <nav class="header-menu menu_visible">
            <h1 id="header-title">BUSCANDOG<label class="nav-logo"><img src="../../static/images/icon.png" alt=""></label> </h1>
            <ul class="header-menu-items">
                <li><a href="{% url 'blog-home' %}">Home</a></li>
                <li><a href="#">About</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'blog-create-post' %}">New Post</a></li>
                    <li><a href="{% url 'profile' %}">Profile</a></li>
                    <li><a class="btn btn-danger" href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a class="btn btn-outline-info" href="{% url 'register' %}">Register</a></li>
                    <li><a class="btn btn-info" href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>        
            <button class="nav-toggle">
                <i class="fa-solid fa-bars"></i>
            </button>
        </nav>
    </header>
{% endblock %}

    <aside class="left-aside" >
        {% block left-aside %} {% endblock %}
    </aside>

    {% block content %}
    <main>
        <!-- BODY -->
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        {% block main %}
        {% endblock %}
    </main>
    {% endblock %}

    <aside right-aside>
        {% block right-aside %} {% endblock %}
    </aside>

    {% block footer %}
    <!-- FOOTER -->
    <footer class="footer">
        <div class="first_links_footer">
            <ul>
            </ul>
        </div>
        <div class="second_links_footer">
            <ul>
                <li><a href=""><img src="../../static/images/icon-twitter.png" alt=""></a></li>
                <li><a href=""><img src="../../static/images/icon-instagram.png" alt=""></a></li>
                <li><a href=""><img src="../../static/images/icon-linkedin.png" alt=""></a></li>
            </ul>
        </div>
        <div class="third_links_footer">
            <ul>
                <li></li>
            </ul>
        </div>
    </footer>
{% endblock %}
</div>