body{
    margin: 0;
    padding: 0;                
    background-color: #ffffff;
    font-family: 'Work Sans', sans-serif;    
}




/* HEADER */
    /* HEADER */
        /* HEADER */
            /* HEADER */
                /* HEADER */

.header{
    display: grid;
    grid-template-columns: repeat(3, 33.33%);        
    background-color: #282d35 ;  
}

.buscandog{
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    margin-top: 5px;
}

.buscandog p{
    margin: 0;
    font-size: 40px;
    color: #ffffff;
}

.header ul{
    display: inline-flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header ul li{
    margin-right: 30px;
    font-size: 20px;
}

.header ul li a{
    text-decoration: none;
    color:  #ffffff ;
}

.header a:hover{
    color: #17a2b8;
}

.first_links{
    grid-column: span 2;    
    margin-bottom: 5px;
}

.second_links{
    grid-column: span 1;    
    margin-bottom: 5px;
}

/* CONTENIDO */
    /* CONTENIDO */
        /* CONTENIDO */
            /* CONTENIDO */
                /* CONTENIDO */


.grilla{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    min-height: 100vh;
}

.article{
    grid-column-start: 2;
    grid-column-end: 3;    
    border: solid 1px #ffffff;
    border-radius: 15px;
    margin-top: 20px;
    background-color: #ebeae8;    
}

.post_title{
    text-decoration: none;
    color: #282d35;    
}

.article_header{
    display: grid;
    grid-template-columns: 12% 88%;
    grid-template-rows: 2;
    background-color: #2f333a;
    border-radius:  15px;
}


.article_header img{    
    grid-row-start: 1;
    grid-row-end: 3;
    padding: 0;
    margin: 5px auto;
    justify-content: center;
    align-items: center;
}

.article_header h4{ 
    margin: 0;
    display: flex;
    align-items: flex-end;        
    font-size: 20px;
}   

.article_header p{
    margin: 0;
    display: flex;
    align-items: flex-start;
    font-size: 15px;
    color:#999999;
}

.article_content{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
}

.content-p{
    color:#5a5a5a;
}

.content_img_grid{
    display: grid;
    grid-template-columns: repeat(3, 33%);    
    margin: 7px auto;    
}

.content_img_grid img{
    margin: auto;
    padding: 0;        
}

.content_img_grid a{
    text-align: center;
}

.paginator{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 24px;
}

.article-title {
    color: #ffffff;
    text-decoration: none;
  }
  
  a.article-title:hover {
    color: #17a2b8;
  }
  

.account-img {
    height: 75px;
    width: 75px;
    margin-right: 20px;
    margin-bottom: 16px;
  }

.account-img1 {
    height: 200px;
    width: 200px;
    margin: auto;
}
  
/* REGISTER */
.register-form{    
    margin: 20px 0;
    display: flexbox;
    width: 500px;
}

.btn-profile-update{
    margin: 10px 0;
}

.mar{
    margin-top: 10px;
    margin-bottom: 10px;    
}

/* ESPACIO */

#espacio{
    height: 2000px;
}
/* FOOTER */

.footer{
    background-color: #282d35;
    display: grid;
    grid-template-columns: repeat(3,33.33%);        
    margin-top: 10px;
    width: 100%;
}

.footer ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer ul li{
    margin: 20px 0;
}

.second_links_footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* GENERAL */
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.align_grid{
    grid-column-start: 2;
    grid-column-end: 3;
}

.align_grid h3{
    font-size: 30px;
    margin-top: 15px;
}




