body{
    margin: 0;
    padding: 0;            
    background-color: rgb(248, 248, 248);
}

/* HEADER */
.header{
    display: grid;
    grid-template-columns: repeat(3, 33.33%);    
    height: 60px;  
    background-color: #2e4053 ;  
}

.header ul{
    display: inline-flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header ul li{
    margin-right: 20px;
}

.header ul li a{
    text-decoration: none;
    color:  white ;
}

.header a:hover{
    color: rgb(175, 175, 139);
}

.first_links{
    grid-column: span 2;    
}

.second_links{
    grid-column: span 1;    
}

/* CONTENIDO */
.conteiner_0{    
    width: 50%;
    margin-top: 20px;
    margin-left: 25%;
    margin-right: 25%;
    padding: 2px 15px;
    background-color: white;
    border: solid rgb(238, 234, 234) 1px;
}

.conteiner_0 h4{
    margin: 8px 0;
}

.grilla{
    display: grid;
    grid-template-columns: 20% 60% 20%;
}

.conteiner-2{
    grid-column-start: 2;
    grid-column-end: 3;
    border: solid 1px rgb(241, 241, 241);
    margin-top: 20px;
}

.conteiner-2_encabezado{
    display: inline-flex;    
    width: 100%;
    border-bottom: solid 1px rgb(241, 241, 241);
}

.conteiner-2_encabezado img{
    margin: auto 5px;
}

.conteiner-2_encabezado h4{
    margin: auto;
    font-size: medium;
    margin-left: 10px;
    color: #4b3737;
}

.article-title {
    color: #444444;
    text-decoration: none;
  }
  
  a.article-title:hover {
    color: #428bca;    
  }
  

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
/* REGISTER */
.register-form{
    margin: 20px 0;
    display: flexbox;
    width: 500px;
}

.btn-profile-update{
    margin: 10px 0;
}

.mar{
    margin-top: 10px;
    margin-bottom: 10px;
}

/* ESPACIO */

#espacio{
    height: 2000px;
}
/* FOOTER */

.footer{
    background-color: #2e4053;
    display: grid;
    grid-template-columns: repeat(3,33.33%);    
    bottom: 0;
    width: 100%;
}

.footer ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer ul li{
    margin: 20px 0;
}

.second_links_footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* GENERAL */
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}




