@use 'var';

@media screen and (max-width: 1346px){

    header .header-menu .header-menu-items li a{
        padding-left: 0px;
    }

    article .article-content .contenido{
        display: flex;
        flex-direction: column;
    }

    article .article-content .contenido .article-content-p1, .article-content-img{
        width: 100%;
        margin-bottom: 12px;
    }

    footer{
        grid-template-columns: 1fr 2fr 1fr;
    }
}


@media screen and (max-width: 992px){

    main{
        width: 96vw;
    }

    header{
        height: 70px;
        transition: all .4s;
    }

    #header-title{
        font-size: 26px;
        transition: all .4s;
    }

    .header-menu{
        padding: 0;
        margin-top: 5px;
    }

    .header-menu-items li a{
        font-size: 13px;
        transition: all .4s;
    }

    .nav-logo img{
        height: 60px;
        width: 60px;
    }

    .article-content-p1, .article-content-p2{
        font-size: 15px;
    }
}

/* MENOS DE 768px */
@media screen and (max-width:794px) {

    header{
        height: 65px;
    }
    
    .nav-logo img{
        height: 45px;
        width: 45px;
    }
    
    #header-title{
        font-size: 20px;        
        transition: all .4s;
        padding-left: 25px;
    }

    .header-menu{
        padding: 0;        
        margin-top: 7.5px;
    }

    .header-menu-items{
        flex-direction: column;
        margin: 0;
        background-color: var.$content-title;
        position: absolute;
        left: 0;
        top: 60px;
        width: 100%;
        align-items: center;        
        padding-left: 0;
        left: 100%;
        transition: left;
        height: 300px;
        display: none;
    }
    
    .header-menu-items li{
        margin-bottom: 15px;
    }
    
    .header-menu-items li:hover{
        background-color: transparent;
    }
    
    .nav-toggle{
        display: block;        
    }
    
    .header-menu-items_visible{
        left: 0;
        display: flex;
        z-index: 1;        
    }    
    
    .article-header-img{            
        height: 30px;
        width: 30px;            
    }

    .article-header p{            
        font-size: 13px;                
    }

    .article-content-title{
        font-size: 18px;
        color: black;
    }

    .article-content{
        padding: 5px 5px;
    }

    .article-content-p{
        font-size: 15px;        
    }
    
    .article-content-img-car {
        height: 320px;
        width: 320px;        
    }

    footer{
        grid-template-columns: repeat(3, 1fr);
    }
}