{% extends 'blog/layout.html' %}
{% load crispy_forms_tags %}

{% block main %}
    <div class="register-form">
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                <legend class="border-bottom mb-4">Join Today</legend>
                {{ form|crispy }}
            </fieldset>
            <div>
                <button class="btn btn-outline-info marbt10" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already have an account? <a class="ml-2" href="{% url 'login' %}">Sing In</a>
            </small>
        </div>
    </div>        
{% endblock %}
{% block img %}
    <div class="img">
        <img class="dogs" src="../../static/images/dogs-import-banner.png" alt="">
    </div>
{% endblock %}